html {
  font-size: 12px;
}
body {
  padding: 40px 0;

}

h1 {
  font-family: 'Philosopher', serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  transition: all 0.2s ease;
  text-decoration: underline;
}

a:hover {
  color: lightblue;
}

section {
  padding: 20px;
}

select + label {
  margin-top: 16px;
}

.paper {
  position: relative;
  padding-top: 30px;
  width: 210mm;
  height: 295mm;
  border: 1px solid #eee;
}

.slopes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
}

.slope {
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #8b8b8b;
}

.btn {
  margin: 1rem;
  min-width: 2.2rem;
}

.btn.disabled, .btn:disabled {
  opacity: 0.35;
  border: 1px solid #555;
  cursor: not-allowed;
}

.guideline {
  position: relative;
}

.guideline + .guideline {
  margin-top: 24px;
}

.ascender, .base,.descender {
  position: relative;
}

.ascender, .descender {
  display: none;
}

.base {
  height: 72px;
  display: flex;
}


.ascender:after,
.base:before,
.base:after,
.descender:after {
  content: "";
  display: block;
  background-color: #555;
  height: 1px;
  position: absolute;
  width: 100%;
}

.ascender::after,
.base::before {
  bottom: 100%;
}

.base::after,
.descender:after{
  top: 100%;
}

.base .nib-height:nth-of-type(even){
  margin-left: 10px;
}

.ascender .nib-height:nth-of-type(odd),
.descender .nib-height:nth-of-type(odd){
  margin-left: 10px;
}

.nib-height {
  height: 14.3px;
  width: 10px;
  background-color: #000;
}

.letter-img {
  max-height: 100%;
  width: auto;
  display: none;
}

.letter-img.shown{
  display: block;
}

.img-wrapper {
  margin-left: 20px;
}

.img-wrapper.bordered {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

.img-wrapper.dn {
display: none;
}

.img-wrapper.bordered img {
  opacity: 0;
}

.img-wrapper.bordered img.active {
  opacity: 1;
}


.nibs {
  position: relative;
}

.angle-line {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.angle-stroke {
  width: 1px;
  background-color: red;
  height: 25px;
  transform: translateY(7px) rotate(61deg) ;
}

.guideline--fraktur .angle-stroke  {
  transform: translateY(7px) rotate(55deg) ;
}

.letter-found--i {
  transform: scale(1.35);
  transform-origin: 0 100%;
}

.letter-found--h {
  transform: scale(1.61);
  transform-origin: 0 100%;
}

.letter-found--h + .letter-found--h {
  margin-left: 48px;
}

.letter-found--k {
  transform: scale(1.61);
  transform-origin: 0 100%;
}

.letter-found--k + .letter-found--k {
  margin-left: 48px;
}

.letter-found--l {
  transform: scale(1.61);
  transform-origin: 0 100%;
}

.letter-found--l + .letter-found--l {
  margin-left: 48px;
}

.letter-found--g {
  transform: scale(1.61);
  transform-origin: 0 0;
}

.letter-found--g + .letter-found--g {
  margin-left: 48px;
}
.letter-found--j {
  transform: scale(1.61);
  transform-origin: 0 0;
}

.letter-found--j + .letter-found--j {
  margin-left: 48px;
}

.letter-found--y {
  transform: scale(1.61);
  transform-origin: 0 0;
}

.letter-found--y + .letter-found--y {
  margin-left: 48px;
}

.letter-found--z {
  transform: scale(1.1);
}



.letter-found--p {
  transform: scale(1.61);
  transform-origin: 0 0;
}

.letter-found--p + .letter-found--p {
  margin-left: 48px;
}

.letter-found--q {
  transform: scale(1.61);
  transform-origin: 0 0;
}

.letter-found--q + .letter-found--q {
  margin-left: 48px;
}


.letter-found--b {
  transform: scale(1.61);
  transform-origin: 0 100%;
}

.letter-found--b + .letter-found--b {
  margin-left: 48px;
}

.letter-found--d {
  transform: scale(1.61);
  transform-origin: 0 100%;
}

.letter-found--d + .letter-found--d {
  margin-left: 48px;
}

.letter-found--f {
  transform: scale(1.61);
  transform-origin: 0 100%;
}

.letter-found--f + .letter-found--f {
  margin-left: 48px;
}

.letter-found--t {
  transform: scale(1.25);
  transform-origin: 0 100%;
}


.guideline--fraktur .base {
  height: 79.4px;
}

.guideline--fraktur .angle-stroke {
  transform: translateY(5px) rotate(55deg) ;
}

.guideline--fraktur .base .nib-height:nth-of-type(even){
  margin-left: 0;
}

.guideline--fraktur .base .nib-height:nth-of-type(odd){
  margin-left: 10px;
}

.guideline--fraktur .ascender .nib-height:nth-of-type(even) {
  margin-left: 10px;
}

.guideline--fraktur .ascender .nib-height:nth-of-type(odd) {
  margin-left: 0;
}

.guideline--fraktur .descender .nib-height:nth-of-type(odd) {
  margin-left: 10px;
}

.guideline--fraktur .descender .nib-height:nth-of-type(even) {
  margin-left: 0;
}

.guideline--fraktur .ascender .nib-height:first-of-type, 
.guideline--fraktur .descender .nib-height:last-of-type {
  height: 9.5px;
}

.guideline--fraktur .base .nibs:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 9.5px;
  background-color: #000;
}

.letter-fraktur--a {
  transform: scale(1.11);
}

.letter-fraktur--h {
  transform: translateY(38px) scale(2);
  transform-origin: 0 100%;
}

.letter-fraktur--h + .letter-fraktur--h {
  margin-left: 60px;
}

.letter-fraktur--i {
  transform: scale(1.43);
  transform-origin: 0 100%;
}

.letter-fraktur--i + .letter-fraktur--i {
  margin-left: 32px;
}
.letter-fraktur--p {
  transform: translateY(-2px) scale(1.56);
  transform-origin: 0 0;
}

.letter-fraktur--p + .letter-fraktur--p {
  margin-left: 50px;
}