html {
  font-size: 12px;
}
body {
  padding-top: 40px;
}

h1 {
  font-family: 'Philosopher', serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  transition: all 0.2s ease;
  text-decoration: underline;
}

a:hover {
  color: lightblue;
}

p {
  font-size: 24px;
  line-height: 1.41;
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
}

section {
  padding: 20px;
}

.guideline {
  position: relative;
} 
.guideline + .guideline {
  margin-top: 14.3px;
}
.btn {
  margin: 1rem;
}

.btn:disabled {
  cursor: not-allowed;
}

.base {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.ascender {
  border-top: 1px solid #555;
}

.descender {
  border-bottom: 1px solid #555;
}

.nib-height {
  height: 14.3px;
  width: 10px;
  background-color: #000;
}

.base .nib-height:nth-of-type(even){
  margin-left: 10px;
}

.ascender .nib-height:nth-of-type(odd),
.descender .nib-height:nth-of-type(odd){
  margin-left: 10px;
}
